header {
    height: 44px;
    background: #32c9ba;
    position: relative;
    top: 0;
    left: 0;
    line-height: 43px;
}
header.nav{text-align: center;color: #fff}

.table_th{
	text-align: center; !important
}

.pager{
	text-align:center;
	list-style: none;
}

.pager li{
	width:25%;
	float:left;
	text-align: center;
}
