<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.2.xsd
						http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd"
						default-lazy-init="true">

    <!-- Quartz Start -->
 
	
	<bean name="syncNovelManage" class="com.tiexue.mcp.task.support.SyncNovelManage"></bean>
	<bean name="syncWeiXinInfo" class="com.tiexue.mcp.task.weixinsync.WeiXinSyncHelper"></bean>
	<bean name="onlineHelper" class="com.tiexue.mcp.task.online.OnlineHelper"></bean>
	<bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="syncNovelManage"/>
		</property>
		<property name="targetMethod">
			<value>init</value>
		</property>
		 <!-- concurrent : false表示等上一个任务执行完后再开启新的任务 -->  
		<property name="concurrent" value="false"></property>  
   
	</bean>
	<bean id="weiXinJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="syncWeiXinInfo"/>
		</property>
		<property name="targetMethod">
			<value>getUserInfo</value>
		</property>
		 <!-- concurrent : false表示等上一个任务执行完后再开启新的任务 -->  
		<property name="concurrent" value="false"></property>  
   
	</bean>
	<bean id="onlineJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="onlineHelper"/>
		</property>
		<property name="targetMethod">
			<value>init</value>
		</property>
		 <!-- concurrent : false表示等上一个任务执行完后再开启新的任务 -->  
		<property name="concurrent" value="false"></property>  
   
	</bean>
	<bean id="trigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="jobDetail"/>
		</property>
		<property name="cronExpression">
			
			<!-- 每20分钟执行一次 -->
			<value>0 0/20 * * * ?</value>
		</property>
	</bean>
	<bean id="weiXinTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="weiXinJob"/>
		</property>
		<property name="cronExpression">
			<!-- 每一小时钟执行一次 -->
			<value>0 0 0/1 * * ?</value>
		</property>
	</bean>
	<bean id="onlineTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="onlineJob"/>
		</property>
		<property name="cronExpression">
			<!-- 每天凌晨1点执行一次 -->
			<!-- 	<value>0 0 1 * * ?</value> -->
			<!-- 每两小时执行一次 -->
			<value>0 0 0/2 * * ?</value>
		</property>
	</bean>
	<bean id="schedulerFactoryBean" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="trigger"/>
				<ref bean="weiXinTrigger"/>
				<ref bean="onlineTrigger"/>
			</list>
		</property>
		<property name="autoStartup" value="true"></property>
	</bean>

</beans>